.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logoutButton {
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.logoutButton:hover {
  background-color: #c82333;
}

.button {
  padding: 10px 15px;
  background-color: #315817;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}
